{% load staticfiles %}
<div class="banner">
      <div id="slide-holder">
        <div id="slide-runner"> 
         <a href="/" target="_blank"><img id="slide-img-4" src="{% static 'images/a4.jpg' %}"  alt="" /></a>
          <div id="slide-controls">
            <p id="slide-client" class="text"><strong></strong><span></span></p>
            <p id="slide-desc" class="text"></p>
            <p id="slide-nav"></p>
          </div>
        </div>
      </div>
      <script>
    if(!window.slider) {
    var slider={};
  }


    </script>
    </div>
    <!-- banner代码 结束 -->